SECRET_KEY=secret1234
DEBUG=True

DB_NAME=sg_verwaltung
DB_USER=dj-sg-verwaltung
DB_PASSWORD=password1234
DB_HOST=localhost
DB_PORT=3306

REDIS_URL=redis://127.0.0.1:6379

# E-Mail-Konfiguration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=SYNC <noreply@heilbronn.dhbw.de>

# Alle Mails gehen im DEBUG-Modus an diese Adresse
DEBUG_EMAIL_RECIPIENT=dev@example.com

# Empfänger bei Sendefehlern
ADMIN_EMAIL=admin@example.com